import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto+Slab:wght@300&display=swap");
@import url("https://dev-cats.github.io/code-snippets/JetBrainsMono.css");

body {
  background-color: ##ffffff;
  color: #000000;
}
#NombreCompleto {
  font-family: Roboto Slab;
  margin-top: 20%;
  text-align: center;
}

#Carrera {
  font-family: Jetbrains Mono;
  margin-left: 40%;
  text-align: middle;
  width: 600px;
}

#Universidad {
  font-family: Poppins;
  margin-left: 10%;
  margin-top: 40%;
}

.tab {
  overflow: hidden;
  border: 1px solid #000000;
  background-color: #ffffff;
  margin-left: 10%;
  margin-right: 50%;
}
.tablinks {
  font-family: Poppins;
  font-weight: 700;
  font-size: 20px;
}

/* Css de los botones */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  margin: auto;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Cambiar color de los botones al pasar encima */
.tab button:hover {
  background-color: #ddd;
}

/* Hacer que se vea el boton "actual" */
.tab button.active {
  background-color: #ccc;
}

/* Ponerle estilo al contenido de cada tab */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
}
